.button {
  background: var(--color-main-blue);
  border-radius: 8px;
  border: none;
  width: 100%;
  color: var(--color-main-white);
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  padding: 12px 70px;
  cursor: pointer;
}
