:root {
  --color-main-text: #1E1E1E;
  --color-background-light: #FBFBFB;
  --color-border-light: #FBFBFB;
  --color-border-grey: #EAEAEA;
  --color-main-blue: #3369F3;
  --color-main-black: #1E1E1E;
  --color-main-white: #FFFFFF;
  --color-main-grey: #999999;
  --color-main-red: tomato;
}
