.search-input{
  width: 100%;

  input {
    width: 100%;
    border: none;
    background: var(--color-background-light);
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
  }
}
